<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Moim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Project Moim</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/moim">모임</a></li>
            <li><a href="#">광고</a></li>
            <li><a href="#">마이페이지</a></li>
            <li>
                <a th:if="${session.access_Token == null}" href="https://kauth.kakao.com/oauth/authorize?client_id=3058bf3e0aa99416851bdd732546efcd&redirect_uri=http://localhost:8080/member/kakao&response_type=code">
                    <img src = "https://t1.daumcdn.net/cfile/tistory/996ED33E5B751C630B" style="width: 15px; min-width: 20px;"  /></a>
            </li>
            <li>
                <a th:if="${session.access_Token != null}" href="/member/logout">로그아웃</a>
            </li>
            <li>
                <a th:if="${session.access_Token != null}" href="/member/info">개인 정보</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <form id="myForm" action="/post" method="post" enctype="multipart/form-data">

            <div style="text-align : center;" class="uploadResult">

            </div>

            <p>
                <label>관심사</label>
                <input type = "text" class="w3-input" name="objectives">
            </p>
            <p>
                <label>모임 이름</label>
                <input type = "text" class="w3-input" name="name">
            </p>
            <p>
                <label>모임 주소</label>
                <input type = "text" class="w3-input" name="region" >
            </p>
            <p>
                <label>모임 정원 수</label>
                <input type = "text" class="w3-input" name="fullmemcnt">
            </p>
            <p class="w3-center">
                <button type="submit" class="w3-button w3-block w3-black w3-ripple w3-margin-top w3-round" >모임 만들기</button>
            </p>
            <p>
            <input name="file" type="file" class="custom-file-input" id="customFile" />
            <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
            </p>
        </form>
    </div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      $('.custom-file-input').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
      });
    </script>
</main>
</body>
</html>